<div class="modal" id="register" tabindex="-1" [class.show]="showRegisterModal">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <div>
            <h5 class="modal-title" id="exampleModalLabel">
              <span class="glyphicon glyphicon-user"></span> Register
            </h5>
          </div>
          <button type="button" class="close" (click)="showRegisterModal = false" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Registration Form -->
          <form #registerForm="ngForm" (ngSubmit)="registerSubmit(registerForm.value)" novalidate>
            <div class="form-group">
              <label for="cusId">
                <span class="glyphicon glyphicon-info-sign"></span> CustomerId:
              </label>
              <input type="text" class="form-control" id="cusId" name="cusId" ngModel #cusId="ngModel"
                placeholder="Enter CustomerId" required>
            </div>
            <div class="form-group">
              <label for="cusName">
                <span class="glyphicon glyphicon-user"></span> CustomerName:
              </label>
              <input type="text" class="form-control" id="cusName" name="cusName" ngModel #cusName="ngModel"
                placeholder="Enter CustomerName" required>
            </div>
            <!-- Add more fields as needed -->
            <div class="form-group">
              <label for="gender">
                  <span class="glyphicon glyphicon-list-alt"></span> Gender:
              </label>
              <select class="form-control" id="gender" name="gender" ngModel required>
                  <option value="" selected>Select Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Others">Others</option>
              </select>
          </div>
          
          <div class="form-group">
            <label for="doj">
                <span class="glyphicon glyphicon-calendar"></span> DateOfJoin:
            </label>
            <input type="date" class="form-control" id="doj" name="doj" ngModel
                [max]="getCurrentDate()" readonly required>
          </div>
          <div class="form-group">
              <label for="country">
                  <span class="glyphicon glyphicon-globe"></span> Country:
              </label>
              <select class="form-control" id="country" name="country" ngModel required>
                  <option value="" selected>Select Country</option>
                  <option value="{{country.cca3}}" *ngFor="let country of countries">{{country.name.common}}</option>
              </select>
          </div>
          <div class="form-group">
            <label for="branch">
                <span class="glyphicon glyphicon-briefcase"></span> Branch:
            </label>
            <select class="form-control" id="branch" name="branch" ngModel required>
                <option value="" selected>Select Branch</option>
                <option value="{{branch.branchId}}" *ngFor="let branch of branches">{{branch.branchName}}</option>
            </select>
          </div>
          <div class="form-group">
              <label for="emailId">
                  <span class="glyphicon glyphicon-envelope"></span> Email-Id:
              </label>
              <input type="text" class="form-control" id="emailId" name="emailId" ngModel #emailId="ngModel" placeholder="Enter your email" required>
          </div>
          <div class="form-group">
              <label for="password">
                  <span class="glyphicon glyphicon-lock"></span> Password:
              </label>
              <input type="password" class="form-control" id="password" name="password" ngModel #password="ngModel" placeholder="Enter your password" required>
          </div>
          <div class="form-group">
              <label for="confirmPassword">
                  <span class="glyphicon glyphicon-lock"></span> Confirm Password:
              </label>
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ngModel #confirmPassword="ngModel" placeholder="Confirm your password" required>
          </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" [disabled]="!registerForm.valid">Register</button>
          <p>Already have an account? <a (click)="showRegisterModal = false; login()">Login</a></p>
        </div>
      </div>
    </div>
  </div>